---
import { Header } from '@/widgets/header';
const { title } = Astro.props;
import Icon from './favicon.ico';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A simple todo list with authorization built on effector, astro and react"
    />
    <link rel="icon" href={Icon} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main
      class="flex min-h-screen w-screen items-center justify-center bg-gradient-to-br from-slate-900 to-blue-950">
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import 'globals.css';
</style>
